body {
  margin-top: 20px;
  font-family: sans-serif;
  background: #e6f0ff;
  color: #111;
  display: flex;
  justify-content: center;
}

.cartao {
  text-align: center;
  padding: 32px;
  border: 2px solid #1e90ff;
  border-radius: 16px;
  background: #fff;
  width: 100%;
  max-width: 600px;
}

h1 {
  font-size: 32px;
  text-align: center;
}

input {
  width: 100%;
  padding: 16px;
  border: 2px solid #1e90ff;
  border-radius: 8px;
  font-size: 16px;
}

.input-container {
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

#lista-tarefas {
  margin: 0;
  padding: 0;
  text-align: left;
}

#lista-tarefas li {
  border: 2px solid #1e90ff;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; /* Coloca o span à esquerda e o container de botões à direita */
  align-items: center;
  padding: 0 0 0 16px; /* Adiciona um padding à esquerda para o texto não colar na borda */
}

#lista-tarefas span {
  margin-right: 16px; /* Dá um espaço entre o texto e os botões */
}

.botoes-container {
  display: flex;
  align-items: center;
}

.remover, .editar, .salvar {
  font-weight: bold;
  margin: 0;
  padding: 16px;
}

.salvar {
  background: green;
}

.editar {
  background: #2990f6;
}

.remover {
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: red;
}

#adicionar {
  background: #1e90ff;
  border-radius: 6px;
}

button {
  padding: 12px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}